<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Kustomer_WebhookIntegration::kustomer" title="Kustomer" module="Kustomer_WebhookIntegration" sortOrder="51" action="kustomer_webhookintegration/index/index" resource="Kustomer_WebhookIntegration::kustomer" />
    </menu>
</config>
